* {
	padding: 0;
	margin: 0;
}

#register_tag {
	color: #ff6707;
}

span, a{
	cursor: pointer;
	text-decoration:none; 
}

.container {
	height: 100%;
	width: 100%;
}


.content {
	height: 173px;
	width: 1263px; 
	background: #fff;
	margin: 0 auto;
}

.nav_up {
	height: 40px;
	border-bottom: 1px #eeeeee solid;
	font-size: 12px;
	line-height: 17px;
	padding: 0 127px;
	overflow: hidden;
}

.search {
	height: 93px;
	margin: 0 127px;
}

.nav_down {
	height: 40px;
/*	padding-right: 127px;
	padding-left: 127px;*/
	background: #ff6600;
}

.nav_up_left {
	height: 40px;
	width: 237px;
	float: left;
}

.nav_up_left_1 {
	height: 17px;
	width: 101px;
	float: left;
	margin: 9px 0;
	border-right: 1px #cccccc solid;
}

.nav_up_left_1_qq {
	width: 17px;
	height: 17px;
	float: left;
	background: url(./imgs/icons1.png);
	background-position-x:  -21px;
	background-position-y: 141px;
}

#nav_up_left_1_downarrow {
    display: inline-block;
    height: 7px;
    width: 20px;
    margin-left: 4px;
    background: url(./imgs/icons1.png);
    background-position-x: -23px;
    background-position-y: 219px;
}

.nav_up_left_2 {
	width: 130px;
	float: left;
	margin: 9px 0;
}

.nav_up_right {
	height: 40px;
	width: 596px;
	float: right;
}

.nav_up_left_1_qq {
	height: 17px;
	height: 17px;
}

.nav_up_right ul {
	list-style:none;
	width: auto;
}

.nav_up_right li {
	display: inline-block;
	height: 17px;
	font-size: 12px;
	line-height: 17px;
	margin: 9px 0;
	padding-left: 12px;
	padding-right: 12px;
	border-right: 1px #cccccc solid;
}

#mizhemobile {
	position: relative;
	padding-left: 28px;
}

#nav_up_right_mizhemobile {
    background: url(./imgs/shouji3.jpg) no-repeat;
    display: inline-block;
    width: 14px;
    height: 18px;
    position: absolute;
    top: -2px;
    left: 9px;
}

#nav_up_right_invitefriends {
	background: url(./imgs/icons1.png) no-repeat;
}

#nav_up_right_follow {
	border: none;
}

